*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(3, 3, 29);
}

.calculate{
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    width: 280px;
}

#display{
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    color: black;
    margin-bottom: 15px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.calc-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50px;
    gap: 10px;
  }

  button {
    height: 50px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  button:hover {
    opacity: 0.85;
  }
  
  .equal-to {
    grid-auto-rows: span 2;
    background: #22c55e;
    color: #fff;
    height: 7rem;
  }
  
  .zero {
    grid-column: span 2;
  }